@import "~less/common.less";

.metro-app {
  &__dropdown {
      display: inline-block;
      width: 100%;
      max-width: 420px;
      height: 50px;
      padding: 10px 20px 10px 5px;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      color: @lightest-grey;
      vertical-align: middle;
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
      background-color: @white-human;
      border: 1px solid @white-human2;
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 10px 0;
  }

}