@button-color: #428bca;
@link-color: red;
@light-blue: aliceblue;
@light-grey: #6d706d;
@dark-grey: darkgrey;
@lightest-grey: #626462;
@white-human: #f5f5f4;
@white-human2: #e3e3e0;
@dark-blue: #0053a0;
@white: white;


// mixins