@button-color: #428bca;
@link-color: red;
@light-blue: aliceblue;
@light-grey: #6d706d;
@dark-grey: darkgrey;
@lightest-grey: #626462;
@white-human: #f5f5f4;
@white-human2: #e3e3e0;
@white-light:  #fff;
@dark-blue: #0053a0;
@white: white;
@text-black: #8a8b8a;

// images path:
@images: "../../images";

//widths:
@sub-content-width-large: 80%;

.sub-content {
  width: 80%;
  padding-left: 100px;

  @media screen and (max-width: 720px) {
    width: 100%;
    padding-left: 0;
  }
}

.button-responsive {
  width: 370px;
  margin: 0 15px 30px;

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

.center-content {
  align-items: center;
}
