@import "~less/common.less";

.metro-app {
  &__content1 {
    text-align: center;
    margin: 30px;
  }

  &__content2 {
    background: @light-blue;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
  }

  &__button {
    width: 80%;
    margin: 30px 0;
  }

  &__title {
    font-weight: 700;
    line-height: 1.2;
    font-size: 32px;
    margin: 0 0 48px;
    color: @light-grey;
  }
}
