@import "~less/common.less";

.metro-app-container {
  &__content1 {
    text-align: center;
    margin: 30px;
  }

  &__content2 {
    text-align: center;
    margin: 30px;
  }
  &__title {
    font-weight: 700;
    line-height: 1.2;
    font-size: 32px;
    margin: 0 0 48px;
    color: @light-grey;
  }

}
