@import "~less/common.less";

.app-footer {
  &__content {
    color: @lightest-grey;
    background: @white-human;
    font-size: 14px;
    text-align: center;
    padding: 20px;
  }

  &__sub-content,
  &__sub-content1,
  &__copy-right {
    margin-bottom: 5px;
  }
}
