@import "~less/common.less";

.stops-container {
  padding: 20px;
  background-color: @white-human;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 16px;
  max-width: 550px;

  ul {
    list-style: none;
    padding-left: 0;
  }

  &__title {
    font-size: 34px;
    margin-bottom: 15px;
    line-height: 1.2;
    color: @lightest-grey;
    text-align: left;
    padding: 0;
  }

  &__list {
    margin: 30px 0 0;
  }

  &__stop-description {
    padding: 12px 0 12px;
    border-bottom: 1px solid @text-black;
  }

  &__stop-info {
    font-weight: 700;
    line-height: 1.2;
    font-size: 32px;
    margin: 0 0 48px;
    color: @light-grey;
  }

  &__button {
    color: @lightest-grey;
    line-height: 1.5;
    font-weight: 700;
    font-size: 16px;
    border: none;
    background: none;
    margin-top: 20px;
    padding: 0;
  }

  &__expand,
  &__closed {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url('@{images}/circle-plus-blue.svg') no-repeat center;
    background-size: contain;
    margin-right: 10px;
    display: inline-block;
  }

  &__expand {
    background: url('@{images}/circle-minus-blue.svg') no-repeat center;
    background-size: contain;
  }
}
